<div class="normal-content" fxLayout="column" fxFill>
  <h2>Recipes</h2>

  <md-list>
    <md-list-item *ngFor="let recipe of recipes | async">
      <div fxLayout="row" fxLayoutAlign="space-between center" fxFill>
                <div fxFlex fxLayout="column" fxLayoutAlign="space-between stretch">
          <h3>{{recipe.title}}</h3>
          <img *ngIf="recipe.image" [src]="recipe.image"/>
          <section *ngIf="recipe.ingredients">
            <span>Ingredients:</span>
            <ul>
              <li *ngFor="let ing of recipe.ingredients">{{ing}}</li>
            </ul>
          </section>
        </div>        
      </div>
    </md-list-item>
  </md-list>
</div>
